.cat-list {
  .btn-create {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
  }

  .cat-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;

    li {
      padding: 1.33vw;
      background-color: #1f2124;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

      h2 {
        margin: 0 auto 20px;
        text-align: center;
      }

      img {
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto 15px;
        border: 2px solid #fff;
        border-radius: 50%;

        &.disabled {
          filter: brightness(50%);
        }
      }

      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &:last-child {
          margin-top: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .cat-list {
    ul {
      grid-template-columns: repeat(3, 1fr);
      gap: 4vw;

      li {
        width: calc(100% - 8vw);
        padding: 4vw;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .cat-list {
    ul {
      grid-template-columns: repeat(2, 1fr);
      gap: 8vw;

      li {
        width: calc(100% - 13.34vw);
        padding: 6.67vw;

        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}