.login {
  h1 {
    margin-bottom: 20px;
  }

  form {
    margin: 20px 0;

    div {
      display: flex;
      justify-content: start;
      align-items: center;

      p {
        min-width: 90px;
        margin-right: 15px;
      }

      label {
        input {
          padding: 10px;
        }
      }
    }
  }
}