.cat-list {
  .btn-create {
    position: fixed;
    top: 2vw;
    right: 2vw;
    height: 40px;
    padding: 0 15px;
    background-color: #25769A;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    li {
      padding: 1.33vw;
      background-color: #1f2124;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      color: #fff;

      h3 {
        margin: 0 auto 20px;
        text-align: center;
      }

      img {
        display: block;
        max-width: 150px;
        min-height: 150px;
        width: 100%;
        margin: 0 auto 15px;
        border: 2px solid #fff;
        border-radius: 50%;
      }

      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &:last-child {
          margin-top: 15px;

          button {
            height: 40px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;

            &:first-child {
              background-color: #f6b352;
            }

            &:last-child {
              background-color: #484643;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .cat-list {
    ul {
      grid-template-columns: repeat(3, 1fr);
      gap: 4vw;

      li {
        width: calc(100% - 8vw);
        padding: 4vw;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .cat-list {
    ul {
      grid-template-columns: repeat(2, 1fr);
      gap: 8vw;

      li {
        width: calc(100% - 13.34vw);
        padding: 6.67vw;
      }
    }
  }
}