.cat-list {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    li {
      padding: 1.33vw;
      background-color: #1f2124;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      color: #fff;
      list-style: none;

      h3 {
        margin: 0 auto 20px;
        text-align: center;
      }

      img {
        display: block;
        max-width: 150px;
        min-height: 150px;
        width: 100%;
        margin: 0 auto 15px;
        border: 2px solid #fff;
        border-radius: 50%;
      }

      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &:last-child {
          margin-top: 15px;
        }

        button {
          height: 40px;
          border: none;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          transition: all .3s;

          &:first-child {
            background-color: #f6b352;
          }

          &:last-child {
            background-color: #484643;
          }

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .cat-list {
    ul {
      grid-template-columns: repeat(3, 1fr);
      gap: 4vw;

      li {
        width: calc(100% - 8vw);
        padding: 4vw;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .cat-list {
    ul {
      grid-template-columns: repeat(2, 1fr);
      gap: 8vw;

      li {
        width: calc(100% - 13.34vw);
        padding: 6.67vw;

        img {
          display: block;
          margin: 0 auto;
          border: 2px solid #fff;
          border-radius: 50%;
        }

        div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          button {
            height: 40px;
            border: none;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;

            &:first-child {
              background-color: #f6b352;
            }

            &:last-child {
              background-color: #484643;
            }
          }
        }
      }
    }
  }
}