.cat-page {
  ul {
    li {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 20px;

      a {
        overflow: hidden;
        display: block;
        width: 200px;
        margin-right: 20px;

        img {
          width: 100%;

          &:hover {
            transform: scale(1.1);
            opacity: 0.8;
            transition: all .3s;
          }
        }
      }

      p {
        margin: 3px 0;
      }
    }
  }
}