.cat-detail {
  .cat-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 0;

    div {
      img {
        max-width: 200px;
        border: 2px solid #fff;
        border-radius: 10px;

        &.disabled {
          filter: brightness(50%);
        }
      }
    }

    .information {
      margin-left: 20px;

      li {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 20px;

        p {
          margin: 0 10px 0 0;
        }
      }
    }

    .messages {
      li {
        margin-bottom: 5px;
      }
    }
  }

  .cat-btn {
    button {
      margin-right: 10px;
      border-radius: 5px;

      &:disabled {
        background-color: #484643;
      }
    }
  }

  .cat-record {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;

    ul {
      li {
        margin-bottom: 5px;
      }
    }
  }
}