.cat-detail-page {
  button {
    margin-right: 3px;

    &.disabled {
      background-color: #aaa;
      cursor: inherit;
    }
  }

  ul {
    margin: 10px 0;

    li {
      img {
        width: 200px;

        &.disabled {
          filter: brightness(50%);
        }
      }

      h3 {
        margin-top: 10px;
        font-weight: 700;
      }

      p {
        margin: 3px 0;
      }

      .info {
        display: flex;
        justify-content: start;
        align-items: start;

        div {
          min-width: 220px;
        }
      }
    }
  }
}