// layout
body {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }
}

div[class$="-page"] {
  height: 100vh;
  padding: 80px 20px;

  input,
  button {
    color: #222;
  }
}