// layout
body {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }
}

div[class$="-page"] {
  height: 100vh;
  padding: 100px 0;
  background-color: lavender;
}

@media screen and (max-width: 1000px) {
  div[class$="-page"] {

  }
}