.header {
  position: fixed;
  right: 2vw;
  top: 2vw;

  nav {
    ul {
      display: flex;
      justify-content: start;
      align-items: center;

      li {
        margin-left: 10px;
      }
    }
  }
}