.cat-create {
  form {
    margin: 20px 0;

    div {
      display: flex;
      justify-content: start;
      align-items: center;

      &:last-child {
        margin-top: 20px;
      }

      p {
        min-width: 60px;
        margin-right: 15px;
      }

      label {
        margin-right: 15px;

        input {
          padding: 10px;
        }
      }

      button {
        min-width: 120px;
        margin-right: 10px;

        &:first-child {
          background-color: #f6b352;
        }

        &:last-child {
          background-color: #1f2124;
        }
      }
    }
  }
}