.cat-create {
  form {
    margin: 20px 0;

    div {
      display: flex;
      justify-content: start;
      align-items: center;

      img {
        margin-right: 15px;
      }

      p {
        min-width: 80px;
      }

      label {
        margin-right: 15px;

        input {
          padding: 10px;
        }

        input[type=file] {
          padding: 0;
        }
      }
    }
  }

  button {
    margin-right: 10px;
  }
}